[alias]
	ch = checkout
	l = log --all --graph --pretty='format:%C(yellow)%h%C(cyan)%d %C(red)%ar	%C(reset)%s'
[core]
	excludesfile = /Users/yogai/.gitignore_global
[user]
	name = aikiyy
	email = aikiyy@​users​.noreply​.github​.com
